{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Medical Sales Dashboard</title>
</head>
<body>
    <h1>Medical Sales Dashboard</h1>

    <h2>Doctors</h2>
    <ul id="doctors-list"></ul>

    <h2>Meetings</h2>
    <ul id="meetings-list"></ul>

    <h2>Customers</h2>
    <ul id="customers-list"></ul>

    <h2>Devices</h2>
    <ul id="devices-list"></ul>

    <h2>Recordings</h2> <!-- New section for Recordings -->
    <ul id="recordings-list"></ul>

    <!-- Include the JavaScript file -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
